@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --background: #D6E2F8;
  --background-circle: #A4AEC2;
  --cobalt: #223AF6;
  --cyan: #6DC4CC;
  --green: #4AAA46;
  --lime: #8EF96C;
  --yellow: #FEE119;
  --orange: #F34A13;
  --pink: #E1A3FA;
  --purple: #DD4CFF;
  --text: #000000;
  --accent: #A4AEC2;

  --title-one-size: 34px;
  --title-one-lh: 41px;
  --title-two-size: 28px;
  --title-two-lh: 34px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 380px;
  margin: 0 auto;
  font-family: "Cutive Mono", serif;
  color: var(--text);
  background-color: var(--background);
  padding: 20px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
я хоч h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
