.statistics {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  margin-top: 20px;
}

.statistics_item {
  display: flex;
  gap: 10px;
  margin: 0;
  font-size: var(--title-two-size);
  line-height: var(--title-two-lh);
  font-weight: 400;
  text-transform: lowercase;
}

@media (max-width: 480px) {
  .statistics_item {
    font-size: var(--title-mobile-size);
    line-height: var(--title-mobile-lh);
  }
}
